# Natura Editor Configuration.
# This file contains all settings and keybinds for Natura Editor.
# DO NOT change the headers.

# Editor Settings
indent_using: tabs
tab_size: 4
window_width: 1280
window_height: 720
maximize_on_start: false
open_on_the_biggest_monitor: true
cursor_as_block: true
cursor_blink_time_in_seconds: 5
highlight_selection_occurrences: true
highlight_line_with_cursor: false
highlight_matching_brackets: true
show_paste_effect: true
smooth_scrolling: true
scroll_beyond_last_line: true
show_scrollbar_marks: true
scrollbar_width_scale: 1.0
scrollbar_min_opacity: 0.0
scrollbar_max_opacity: 1.0
scrollbar_fade_in_sensitivity: 10.0
scrollbar_fade_out_delay_seconds: 2.0
line_height_scale_percent: 120
max_editor_width: -1
can_cancel_go_to_line: true
show_line_numbers: false
cursor_corner_radius: 3

# Keybinds - modify these to customize your shortcuts
keybinds.ctrl+s: save
keybinds.ctrl+f: search
keybinds.ctrl+g: goto_line
keybinds.ctrl+c: copy
keybinds.ctrl+v: paste
keybinds.ctrl+x: cut
keybinds.ctrl+a: select_all
keybinds.ctrl+d: select_word
keybinds.ctrl+o: open_file
keybinds.ctrl+z: undo
keybinds.ctrl+y: redo
keybinds.ctrl+k: delete_to_line_end
keybinds.ctrl+u: delete_to_line_start
keybinds.ctrl+backspace: delete_word_left
keybinds.ctrl+delete: delete_word_right
keybinds.ctrl+shift+d: duplicate_lines
keybinds.ctrl+/: toggle_comment
keybinds.f3: find_next
keybinds.shift+f3: find_previous
keybinds.alt+up: move_lines_up
keybinds.alt+down: move_lines_down
keybinds.tab: tab_or_indent
keybinds.shift+tab: unindent
keybinds.ctrl+home: file_start
keybinds.ctrl+end: file_end
keybinds.ctrl+left: word_left
keybinds.ctrl+right: word_right
keybinds.ctrl+shift+left: word_left
keybinds.ctrl+shift+right: word_right
keybinds.home: line_start
keybinds.end: line_end
keybinds.shift+delete: delete_line
keybinds.escape: clear_selection
keybinds.alt+x: show_actions
keybinds.ctrl+n: create_new_file
keybinds.ctrl+shift+n: create_new_file_on_the_side

# Color Theme - modify these hex values (RRGGBBAA format)
colors.background: 1B1D25FF
colors.background_dark: 141414FF
colors.background_light: 1C1C1CFF
colors.line_highlight: 2A2A2AFF

colors.text: EEEEEEEE
colors.text_dim: 999999FF

colors.cursor: 4FD6B6FF
colors.cursor_inactive: 808080FF

colors.selection_active: 4D6699CC
colors.selection_inactive: 33334D99
colors.selection_highlight: 599999FF
colors.bracket_highlight: E8FCFE30
colors.paste_animation: 1C4449FF

colors.search_result_active: CC9933CC
colors.search_result_inactive: 99661A99

colors.code_default: FFFFFFFF
colors.code_comment: 8B949E
colors.code_multiline_comment: 87919DFF
colors.code_string_literal: CC9966FF
colors.code_multiline_string: D4BC7DFF
colors.code_raw_string: D4BC7DFF
colors.code_char_literal: D4BC7DFF
colors.code_identifier: FFFFFFFF
colors.code_number: 5CCB45FF
colors.code_keyword: 99CCFFFF
colors.code_type: E6B399FF
colors.code_value: C698D6FF
colors.code_function: CC99FF99
colors.code_builtin_function: E0AD82FF
colors.code_builtin_variable: D699B5FF
colors.code_operation: E0AD82FF
colors.code_punctuation: BFC9DBFF
colors.code_modifier: E67D74FF
colors.code_attribute: E67D74FF
colors.code_macro: E0AD82FF
colors.code_directive: E67D74FF

colors.ui_default: CCCCCCFF
colors.ui_dim: 999999FF
colors.ui_neutral: 4C4C4CFF
colors.ui_error: FF6666FF
colors.ui_error_bright: FF0000FF
colors.ui_warning: FFCC4DFF
colors.ui_warning_dim: 986032FF
colors.ui_success: 66CC66FF

colors.scrollbar: 8D358419
colors.scrollbar_hover: 4E13514C
colors.scrollbar_background: 4035484C
