# Natura Editor Configuration
# This file contains all settings and keybinds for Natura Editor.

# Editor Settings
indent_using: spaces
tab_size: 4
window_width: 800
window_height: 600

# Keybinds - modify these to customize your shortcuts
keybinds.ctrl+s: save
keybinds.ctrl+f: search
keybinds.ctrl+g: goto_line
keybinds.ctrl+c: copy
keybinds.ctrl+v: paste
keybinds.ctrl+x: cut
keybinds.ctrl+a: select_all
keybinds.ctrl+d: select_word
keybinds.ctrl+o: open_file
keybinds.ctrl+z: undo
keybinds.ctrl+y: redo
keybinds.ctrl+k: delete_to_line_end
keybinds.ctrl+u: delete_to_line_start
keybinds.ctrl+backspace: delete_word_left
keybinds.ctrl+delete: delete_word_right
keybinds.ctrl+shift+d: duplicate_lines
keybinds.ctrl+/: toggle_comment
keybinds.f3: find_next
keybinds.shift+f3: find_previous
keybinds.alt+up: move_lines_up
keybinds.alt+down: move_lines_down
keybinds.tab: tab_or_indent
keybinds.shift+tab: unindent
keybinds.ctrl+home: file_start
keybinds.ctrl+end: file_end
keybinds.ctrl+left: word_left
keybinds.ctrl+right: word_right
keybinds.ctrl+shift+left: word_left
keybinds.ctrl+shift+right: word_right
keybinds.home: line_start
keybinds.end: line_end
keybinds.shift+delete: delete_line
keybinds.escape: clear_selection
keybinds.alt+x: show_actions

# Color Theme - modify these hex values (RRGGBBAA format)
colors.background: 1A1A1AFF
colors.background_dark: 141414FF
colors.text: EEEEEEEE
colors.text_dim: 999999FF
colors.cursor: CCCCCCFF
colors.cursor_inactive: 808080FF
colors.selection_active: 4D6699CC
colors.selection_inactive: 33334D99
colors.search_result_active: CC9933CC
colors.search_result_inactive: 99661A99
colors.code_default: FFFFFFFF
colors.code_comment: D3D3D3
colors.code_string_literal: CC9966FF
colors.code_keyword: 99CCFFFF
colors.code_function: CC99FF99
colors.code_type: E6B399FF
colors.ui_default: CCCCCCFF
colors.ui_dim: 999999FF
colors.ui_error: FF6666FF
colors.ui_warning: FFCC4DFF
colors.ui_success: 66CC66FF