# Natura Editor Configuration

indent_using: spaces
tab_size: 1
window_width: 800
window_height: 600

# Custom Keybinds
keybinds.ctrl+s: save
keybinds.ctrl+f: search
keybinds.ctrl+g: goto_line
keybinds.ctrl+c: copy
keybinds.ctrl+v: paste
keybinds.ctrl+x: cut
keybinds.ctrl+a: select_all
keybinds.ctrl+d: select_word
keybinds.ctrl+o: open_file
keybinds.ctrl+z: undo
keybinds.ctrl+y: redo
keybinds.ctrl+k: delete_to_line_end
keybinds.ctrl+u: delete_to_line_start
keybinds.ctrl+backspace: delete_word_left
keybinds.ctrl+delete: delete_word_right
keybinds.ctrl+shift+d: duplicate_lines
keybinds.ctrl+/: toggle_comment
keybinds.f3: find_next
keybinds.shift+f3: find_previous
keybinds.alt+up: move_lines_up
keybinds.alt+down: move_lines_down
keybinds.tab: tab_or_indent
keybinds.shift+tab: unindent
keybinds.ctrl+home: file_start
keybinds.ctrl+end: file_end
keybinds.ctrl+left: word_left
keybinds.ctrl+right: word_right
keybinds.home: line_start
keybinds.end: line_end
keybinds.shift+delete: delete_line
keybinds.escape: clear_selection